
header {
    background-color: lightblue;
}

.searchHead {
    background-color: lightblue;
}

body h1 {
    font-family: 'Lobster', cursive;
}
    
header {
    margin-top: 3%;
}

#article-row {
    margin-top: 2%;
}